@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  transform-style: preserve-3d;
  transition: all;
  transition-duration: 500ms;
  
}

.back {
  transform: rotateY(180deg);
}

.cardface {
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 3px 3px 2px rgb(16, 24, 15);
}

.rotatey0{
  transform: rotateY(0deg);
}
.rotatey180{
  transform: rotateY(180deg);
}